.app {
  display: flex;
  height: 95vh;
}

.sidebar {
  flex: 0 0 260px;
  background: #f0f0f0;
  padding: 20px;
  transition: transform 0.3s ease;
  height: 100%;
  overflow-y: auto;
}

.sidebar.hidden {
  transform: translateX(-100%);
}

.sidebar-content {
  height: 90%;
}

.content {
  flex: 1;
  padding: 20px;
  transition: margin-left 0.3s ease;
  height: 100%;
  overflow-y: auto;
}

.content.expanded {
  margin-left: -250px;
}

.toggle-button {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}
